html {
  height: 100%;
  width: 100%;
}
header {
  background-color: grey;
  color: black;
  margin-left: 7rem;
  font-size: xx-large;
}
h1 {
  background-color: grey;
  color: black;
  margin-left: 7rem;
}
p {
  background-color: grey;
  color: black;
  margin-left: 7rem;
}
h5 {
  color: black;
  margin-left: 7rem;
}
#rpstut {
  max-width: 400px;
  max-height: 500px;
  display: flex;
  border: 1rem;
  padding: 16px;

  justify-content: center;
  align-items: center;
}
.game {
  border-bottom: 50rem;
  margin-left: 600px;
  font-size: 45px;
  display: flex;
  align-items: center;
}
body {
  background-color: grey;
  display: flex;
  max-width: 100%;
}
/*.iframe-container {
  padding-bottom: 56.25%;
  height: 0;
  padding-left: 16px;
}*/

/* .iframe-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
} */

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-width: 70%;
}
.pillar {
  max-width: 15%;
  min-height: 100vh;
  object-fit: cover;
}
